<h1>Complex Type</h1>
<form id="form1" method="post" action="/api/index/index"
      enctype="application/x-www-form-urlencoded">

    <div>
        <label for="status">Status</label>
    </div>
    <div>
        <input name="UserName" type="text" />
    </div>
    <div>
        <label for="date">Date</label>
    </div>
    <div>
        <input name="Password" type="text" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
 
</form>